<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    <meta http-equiv="refresh" content="30" > -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ariolimon</title>
    <!-- Bootstrap -->
    <link href="html/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page-header">
	    <h1> Ariolimon <small>Custom Search</small></h1>
    </div>
    <div class="container">
      <div class="row">
      <div class="col-md-2">
        <a href="/" class="btn btn-default btn-md" aria-label="back">
	    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
    	 </div>
      <form action="/custom" id="myform" method="post">
      <div class="col-md-4">
	 <div class="form-group row">
		   <label for="sel1">Service</label>
			   <select name="service" class="form-control" id="sel1">
				 {{ range $_, $service := .Service }}
				 <option value="{{ $service }}">{{ $service }}</option>
				 {{ end }}
			   </select>
	 </div>
	 <div class="form-group row">
	   <label for="startDate" class="col-form-label">start time (e.g. 12 Dec 16 15:04)</label>
	   <input type="datetime-local" class="form-control" name="start_date" placeholder="02 Jan 06 15:04" required pattern="\d{2} [A-Z][a-z]{2} \d{2} \d{2}:\d{2}"> 
	 </div>
	 <div class="form-group row">
	   <label for="endDate" class="col-form-label">end time</label>
	   <input type="datetime-local" class="form-control" name="end_date" placeholder="02 Jan 16 15:10" required pattern="\d{2} [A-Z][a-z]{2} \d{2} \d{2}:\d{2}"> 
	 <br>
	 <button type="submit" class="btn btn-primary">Submit</input>
      </div>
      </form>

      <div><img src="/html/currentgraph.png" class="img-fluid" alt="graph"></div>
	 </div>
      </div>
    </div>

    <!-- reload page every 2 min -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="html/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
