<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="30" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Service Detail</title>
    <!-- Bootstrap -->
    <link href="/html/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page-header">
	    <h2>Service Detail {{ .Host }} <small>{{ .Time }}</small><h2>
    </div>
    <div class="container">
      <div class="row">
	<div class="col-md-2">
        <a href="/" class="btn btn-default btn-md" aria-label="back">
	    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		  Time Frame
		  <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
 	    <li><a href="/detail/{{ .Host }}?t=%2d1h">1 hour</a></li>
 	    <li><a href="/detail/{{ .Host }}?t=%2d4h">4 hours</a></li>
 	    <li><a href="/detail/{{ .Host }}?t=%2d24h">24 hours</a></li>
 	    <li><a href="/detail/{{ .Host }}?t=%2d168h">1 week</a></li>
	   </ul>
	</div>
	<br>
	<h4><a href="/custom">Custom</a></h4>
	</div>
      <div class="col-md-10">
	      <h3><span class="label label-{{ .Alert }}">{{ .Alert | alertText }}</span>{{ .Service}} {{.Value | printf "%.2f" }} {{.Units}} </h3>
      <h3><a href="https://dco-prod-tools-1.ucsc.edu/confluence/display/DCUT/Escalations+-+AIS" target="_blank">On Call Escalation</a></h3>
      <br>
      <br>
      <div><img src="/html/currentgraph.png" class="img-fluid" alt="graph">
        </div>
      </div>
    </div>

    <!-- reload page every 2 min -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/html/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  </body>
</html>
