<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="30" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ariolimon</title>
    <!-- Bootstrap -->
    <link href="html/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page-header">
	    <h1>AWS Stats! <small>{{ .Time }}</small></h1>
    </div>
    <div class="container">
      <div class="row">
	  <div class="col-md-2">
	    <h2>Hosts:</h2>
	    <h4><a href="#">apm-prod-1</a></h4>
	    <h4><a href="#">apm-prod-2</a></h4>
	    <h4><a href="#">apm-prod-3</a></h4>
    	 </div>
	 <div class="col-md-10">
         {{range .Items}}
         <div class="alert alert-{{ .Alert }}" role="alert">
	    apm-prod-1 <a href="detail?q={{ .Label }}" class="alert-link">{{ .Label }}</a>
	    - {{ .Value }} {{ .Units }}</div>
         {{ end }}
    	 </div>
      </div>
    </div>

    <!-- reload page every 2 min -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
